.exposition {
    background-color: #161925;
    padding: 10rem 3rem 5rem;
}
.main-swiper {
    width: 100%;
    height: 60vh;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.swiper-slide {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.informations-swiper {
    color: white;
}
