/* Menu */
.main-menu.transparency {
    backdrop-filter: blur(40px);
    background-color: unset;
}
.main-menu {
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1.5rem;
    box-shadow:0 4px 20px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.main-menu a {
    color: #000000;
}

.parent-link span::after {
    content: url("../../../svg/chevron-down.svg");
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: 1rem;
    transition: 0.7s;
    transform: rotate(-90deg) translateX(-10px) translateY(-10px);
}

.parent-link:hover span::after {
    transform: rotate(0);
}

.main-menu ul {
    display: flex;
    justify-content: space-around;
}

.main-menu li {
    padding: 0.5rem 3rem;
}

.main-menu .parent-link:hover .sub-menu,
.main-menu .parent-link:active .sub-menu,
.main-menu .parent-link .sub-menu.expanded
{
    max-height: 100%;
}

.main-menu .sub-menu {
    transition:max-height 0.5s ease-in-out;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    .main-menu ul {
        flex-direction: column;
    }
}
