body {
	font-family: 'GFS Didot', serif;
}
.container-fluid {
	padding: 0;
}

header {
	position: fixed;
	z-index: 1;
}

.p-4 {
	color: #067BC2;
}
.brand {
	color: white;
	margin:0 0 10% 0;
}
.brand .title {
	font-size: 2rem;
	text-align: center;
}

.brand img {
	top: 0;
	position: absolute;
	max-width: 100%;
	margin-bottom: 2rem;
	z-index: -1;
}

.text {
	padding-top: 30%;
}

.random {
	display: flex;
	align-items: center;
	max-width: fit-content;
	margin: 15% auto 0 auto;
	background-color: #067BC2;
	color: white;
	padding: 0 .5rem;
	border-radius: 1rem;
	border: solid 1px #067BC2;
	text-decoration: none;
}


.random:hover {
	color: #067BC2;
	background-color: transparent;
}

.fa-random {
	margin-right: 1rem;
}

a:hover {
	color: black;
	text-decoration: none;
}

.navbar-toggler {
	color: #067BC2;
	border-color: #067BC2;
	font-size: 2rem;
}

.lettre {
	margin-top: 2rem;
	width: 100%;
	height: auto;
}

.banniere {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20rem;
	color: white;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

.carousel {
	margin: 3rem 0;
}

.carousel-item img {
	max-height: 30rem;
	object-fit: cover;
	object-position: center;
}

footer {
	margin-top: 1.5rem;
	padding: 2rem;
	background-color: #067BC2;
	color: white;
	min-height: 5rem;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
}

footer a {
	color: white;
}

footer a:hover {
	color: white;
	transform: scale(1.2);
}

footer i {
	font-size: 3rem;
	margin-right: 1rem;
}

.contact,
.socials {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 1.5rem;
}

.socials a {
	display: flex;
	flex-direction: column;
	align-items: center;
}



footer .contact i{
	font-size: 1.5rem;
}



a {
	text-decoration: none;
	color: #067BC2;
}
a:hover {
	text-decoration: none;
	color: #067BC2;
}